<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <script src="~/jQuery-3.6.0/jquery-3.6.0.js"></script>
    <link rel="stylesheet" type="text/css" href="~/DataTables/datatables.css"> 
    <script type="text/javascript" charset="utf8" src="~/DataTables/datatables.js"></script>
    
    <script src="~/DataTables/dataTables.buttons.min.js"></script>
    <script src="~/DataTables/jszip.min.js"></script>
    <script src="~/DataTables/buttons.html5.min.js"></script>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Speakers App - <a asp-area="" asp-controller="Speakers" asp-action="Privacy">Privacy</a>
        </div>
        <script src="~/IndexFooter/IndexFooter.js"></script>
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>